* {
  box-sizing: border-box;
}

body {
  margin: none;
}

#app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.textarea {
  border: 1px solid #7c83bc;
  border-radius: 4px;
  height: 200px;
  padding: 8px;
  resize: none;
  width: 400px;
}